
/* Footer Styles */
.footer {
  background-color: #2c3e50;
  width: 100%;
  padding: 2px;
  font-family: Arial, sans-serif;
}


.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    padding: 1rem 6rem;
}

.footer-section h3 {
  color: white;
  margin: 0 0 1rem 0;
  font-size: 4rem; /* Blogify ka size increase kiya */
  font-weight: bold;
  font-family: "Brush Script MT", cursive;
}

.footer-section h4 {
  color: #f1f1f1;
  /* margin-bottom: 1rem; */
  font-size: 1.2rem;
  border-bottom: 2px solid #e67e22;
  display: inline-block;
  padding-bottom: 4px;
}

.footer-section p {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  
}

.footer-section ul li {
  margin-bottom: 0.6rem;
}

.footer-section a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Social Media Icons */
.social-links {
  margin-top: 1rem;
}

.social-links a {
  margin-right: 12px;
  font-size: 1.3rem;
  color: white;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #e67e22;
}

/* Map Section */
.map-section iframe {
 
  height: 200px;
  border: none;
  margin-top: 0.5rem;
  border-radius: 8px;
}
.footer-bottom {
  text-align: center;
  padding: 2px 0;
  font-size: 0.85rem; 
  background-color:#374f67;
  margin: 0 !important;
  
}
.footer-bottom p{
  color: white;
  margin: 0 !important;
}

